@value light: #fff;
@value dark: #373a42;

:root {
  --primary: #ff6e30;
  --font-size: 64px;
  --line-height: 80px;
  --font-family: "Poppins", sans-serif;
  --font-bold: 600;
  --space: 24px;
}

:global(.theme-light) {
  --secondary: dark;
  --background: light;
}
:global(.theme-dark) {
  --secondary: light;
  --background: dark;
}

html,
body {
  margin: 0;

  width: 100%;
  height: 100%;

  user-select: none;

  background: var(--background);
}

@media only screen and (max-width: 680px) {
  :root {
    --font-size: calc(64px - 16px);
    --line-height: calc(80px - 16px);
    --space: calc(24px - 8px);
  }
}

@media only screen and (max-width: 510px) {
  :root {
    --font-size: calc(64px - 16px * 2);
    --line-height: calc(80px - 16px * 2);
    --space: calc(24px - 8px * 2);
  }
}

@media only screen and (max-width: 340px) {
  :root {
    --font-size: calc(64px - 16px * 3);
    --line-height: calc(80px - 16px * 3.5);
    --space: calc(24px - 8px * 2.5);
  }
}

:global(.hoverable) {
  pointer-events: auto;
  color: var(--secondary);

  background: linear-gradient(
    to bottom,
    var(--secondary) 0%,
    var(--secondary) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 0px;

  transition: background-size 0.2s, color 0.2s;
}
:global(.hoverable:hover) {
  background-size: 100% 50%;
  color: var(--primary);
}

:global(.hoverable.inverted) {
  color: var(--primary);

  background: linear-gradient(
    to bottom,
    var(--primary) 0%,
    var(--primary) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 0px;
}
:global(.hoverable.inverted:hover) {
  background-size: 2px 50%;
  color: var(--secondary);
}
